body{
    font-family: 'Open Sans', sans-serif;
    background: #000;
    color: #fff;
}
a{
    color: #fff;
}

p{
    text-align: start;
}

#Quienes-somos h3{
    background: #0dcaf0;
}

.card{
    background: #0dcaf0;
    height: 25rem;
}

.card .card-img-top{
    height: 12rem;
}
.btn-color{
    background: #0dcaf0;
}

.footer-bg{
    background: #0dcaf0;;
}




